.stars {
  background-image: url(../img/stars.jpg);
  color: white;
}
.clouds {
  background-image: url(../img/clouds.png);
  color: black;
}
.grass2 {
  background-image: url(../img/grass.jpg);
  background-size: cover;
}
.sand {
  background-image: url(../img/sand.jpg);
  color: black;
}
