@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 12px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  html {
    font-size: 20px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
  html {
    font-size: 28px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: CustomFont, Arial, Geneva, sans-serif;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.floatright {
  float: right;
}

.underline::after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: currentColor;
  transition: 300ms;
}
.underline:hover::after {
  width: 100%;
}
@font-face {
  font-family: CustomFont;
  src: url(../img/Sriracha-Regular.ttf);
}
