/*  grid system */
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}
.center {
  justify-content: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  flex: 0 0 92%;
  margin: 0 4%;
}
/*
[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}
*/
