@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 28px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  color: white;
}

/*  grid system */
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}
[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}
.center {
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.floatright {
  float: right;
}

.stars {
  background-image: url(../img/stars.jpg);
}

.clouds {
  background-image: url(../img/clouds.png);
}
.sand {
  background-image: url(../img/sand.jpg);
  color: black;
}

.pad {
  padding: 3% 0;
}

.underline::after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: currentColor;
  transition: 300ms;
}
.underline:hover::after {
  width: 100%;
}
