@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/stars.jpg);
  background-size: cover;
  margin: 0px;
  padding: 0px;
  color: white;
}

/*  grid system */
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}
[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}
.center {
  justify-content: center;
}
