$step_count: 23;
$width: 225px;
$time: 4s;
.psy {
  height: 400px;
  width: $width;
  background-image: url(https://estelle.github.com/10/files/sprite.png);
  animation: gangnam $time steps($step_count, start) infinite,
    movearound $time * 3 steps($step_count * 3, end) infinite;

  animation-direction: normal, alternate;
}
@keyframes gangnam {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: $width * $step_count 0;
  }
}
@keyframes movearound {
  0% {
    transform: translatex(-1 * $width);
  }
  100% {
    transform: translatex($width);
  }
}
