.map {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bug {
  background-image: url(../img/bug.png);
  animation: chaseMe 3s linear infinite alternate-reverse;
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  cursor: pointer;
}
.bug:hover {
  background-image: url(../img/skull.png);
  animation-play-state: paused;
}
@keyframes chaseMe {
  0% {
    top: 0%;
    right: 0%;
  }
  25% {
    top: 80%;
    right: 80%;
  }
  50% {
    top: 80%;
    right: 20%;
  }
  75% {
    top: 10%;
    right: 90%;
  }
  100% {
    top: 80%;
    right: 90%;
  }
}
