.map {
  width: 100%;
  height: 50vh;
  position: relative;
  .bug {
    background-image: url(../img/bug.png);
    animation: chaseMe 3s linear infinite alternate-reverse;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    cursor: grab;
  }
  .bug:hover {
    z-index: 1;
    background-image: url(../img/skull.png);
    animation-play-state: paused;
  }
}
@keyframes chaseMe {
  0% {
    top: 0%;
    right: 0%;
  }
  25% {
    top: 80%;
    right: 80%;
  }
  50% {
    top: 80%;
    right: 20%;
  }
  75% {
    top: 10%;
    right: 90%;
  }
  100% {
    top: 80%;
    right: 90%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  .map {
    .bug {
      width: 60px;
      height: 60px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
  .map {
    .bug {
      width: 100px;
      height: 100px;
    }
  }
}
