.hover-zoom {
  margin: 10px;
  height: 220px;
  width: 400px;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/me.jpg);
}
.hover-zoom:hover {
  border: 5px solid #4e3172;
  background-size: 140%;
}
